// DARK MODE STYLES

// LIHT CASE
.light {
  .background {
    background-color: white;
    // transform: scale(0.9);
    transition: 1s background-color;
  }
  .text {
    color: #191919;
  }

  .border {
    border: 1px solid #191919;
  }

  .color {
    color: #191919;
  }
}

// DARK CASE
.dark {
  .background {
    background-color: #191919;
    // transform: scale(1);
    transition: 1s background-color;
  }
  .text {
    color: white;
  }

  .border {
    border: 1px solid white;
  }

  .color {
    color: white;
  }
}
